flows (3).json
[{"id":"21e63714.582548","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"97301af3.9bc7f8","type":"ui_form","z":"21e63714.582548","name":"","label":"","group":"2dfba596.3b51ca","order":2,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":200,"y":240,"wires":[["cd1f3395.05263"]]},{"id":"cd1f3395.05263","type":"function","z":"21e63714.582548","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["81cc05d1.107938","1a78a056.46a1b"]]},{"id":"81cc05d1.107938","type":"watson-conversation-v1","z":"21e63714.582548","name":"","workspaceid":"2c9cb919-dde3-41a1-9b41-1899c510a354","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/f6d1f88b-29b9-43b0-bb62-7537e474f25c/v1/workspaces/2c9cb919-dde3-41a1-9b41-1899c510a354/message","timeout":"","optout-learning":false,"x":500,"y":80,"wires":[["4f4a0940.064fb8","9fe20544.070748"]]},{"id":"1a78a056.46a1b","type":"ui_text","z":"21e63714.582548","group":"2dfba596.3b51ca","order":4,"width":0,"height":0,"name":"","label":"Your input","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":300,"wires":[]},{"id":"4f4a0940.064fb8","type":"debug","z":"21e63714.582548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"9fe20544.070748","type":"function","z":"21e63714.582548","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":280,"wires":[["8c51819f.35edd"]]},{"id":"8c51819f.35edd","type":"ui_text","z":"21e63714.582548","group":"2dfba596.3b51ca","order":3,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":260,"wires":[]},{"id":"2dfba596.3b51ca","type":"ui_group","name":"Cinema movies Bot","tab":"9fad0ea2.c59be","order":1,"disp":true,"width":"6","collapse":false},{"id":"9fad0ea2.c59be","type":"ui_tab","name":"Talk to your bot","icon":"dashboard","disabled":false,"hidden":false}]